.container {
  color: var(--dark);
  background-color: var(--white);
  min-height: 200px;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 30px;
  .walletContent {
    // border: 3px solid red;
    width: 80%;
    min-height: 100%;
    font-weight: bolder;
    .textContainer {
      padding: 15px 0;
      text-align: center;
      height: 100%;
      h1 {
        font-size: 32px;
        color: var(--yellow);
        padding-bottom: 10px;
      }
      span {
        font-size: 22px;
      }
    }
    .buttonContainer {
      margin-top: 20px;
      button {
        width: 100%;
        font-family: Montserrat;
        height: 50px;
        background-color: var(--yellow);
        color: var(--dark);
        cursor: pointer;
        border: none;
        font-size: 22px;
        border-radius: 5px;
        a {
          text-decoration: none;
          color: var(--dark);
          font-weight: bolder;
        }
      }
    }
  }
}

.darkMode {
  background-color: var(--dark);
  color: var(--white);
  h3,
  h1 {
    color: var(--yellow);
  }
}

@media screen and (max-width: 600px) {
  .container {
    // width: 100%;
    .walletContent {
      width: 100%;
      //   border: 2px solid red;
      .textContainer {
        h1 {
          font-size: 24px;
        }
        span {
          font-size: 16px;
        }
      }
      .buttonContainer {
        button {
          height: 35px;
          font-size: 16px;
        }
      }
    }
  }
}
